<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>用户管理</title>
    <link rel="stylesheet" href="../plugins/layui/css/layui.css" media="all">
</head>

<body>

<table class="layui-table" lay-data="{height:315, url:'/user/findAll', page:true, id:'test',height: 'full-25'}" lay-filter="test" id="test">
    <thead>
    <tr>
        <th lay-data="{field:'id', width:80, sort: true}">ID</th>
        <th lay-data="{field:'name', width:280}">用户名</th>
        <th lay-data="{field:'tel', width:280, sort: false}">电话</th>
    </tr>
    </thead>
</table>

<script src="../plugins/layui/layui.js"></script>
<script>
    layui.use('table', function() {
        var table = layui.table;
    });
</script>
</body>

</html>