<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>用户管理</title>
    <link rel="stylesheet" href="../plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/app.css" media="all">
</head>

<body>
<div class="weadmin-block">
    <button  class="layui-btn layui-btn-danger" id="deleteBtn"><i class="layui-icon"></i>批量删除</button>
    <button  class="layui-btn" id="addUserBtn"><i class="layui-icon"></i>添加</button>
    <button  class="layui-btn" id="updateUserBtn"><i class="layui-icon"></i>修改</button>
</div>


<table class="layui-hide" id="users"></table>


<!-- 表单弹窗 -->
<script type="text/html" id="addModel">
    <div style="padding: 20px">
        <form class="layui-form" id="user_form">
            <div class="layui-form-item">
                <label for="name" class="layui-form-label">
                    <span class="we-red">*</span>登录名
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="name" name="name" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="we-red">*</span>将会成为您唯一的登入名
                </div>
            </div>
            <div class="layui-form-item">
                <label for="tel" class="layui-form-label">
                    <span class="we-red">*</span>手机
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="tel" name="tel" required="" lay-verify="phone"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="we-red">*</span>角色</label>
                <div class="layui-input-inline">
                    <select id="role-select" name="role" lay-filter="rolechoose" lay-verify="required">

                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="password" class="layui-form-label">
                    <span class="we-red">*</span>密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="password" name="password" required="" lay-verify="pass"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    6到16个字符
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    <span class="we-red">*</span>确认密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="L_repass" name="repass" required="" lay-verify="repass"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label"></label>
                <button  class="layui-btn" lay-filter="add" lay-submit="">保存</button>
            </div>
        </form>
    </div>
</script>

<script id="rolesSelect" type="text/html">
    <option value="">-请选择-</option>
    {{#  layui.each(d, function(index, item){ }}
    <option value="{{ item.id }}">{{ item.name }}</option>
    {{#  }); }}
</script>

<script src="../plugins/layui/layui.js"></script>
<script src="../js/user.js"></script>
</body>

</html>