.loginBg{
    background-color: #65b1e2;
}

.loginArea {
    position:absolute;
    width:600px;
    height:500px;
    top:50%;
    left:50%;
    margin-top:-250px;
    margin-left:-300px;
    padding: 10px;
    background:white;
}

.logo {
    position:relative;
    width: 200px;
    height: 200px;
    margin-top: 15px;
    margin-left:-100px;
    display: block;
    left:50%;
    /*border: 3px solid red;*/
}

.a{
    color: white;
    size: 30px;
    text-align: center;
    margin-top: 100px;
    font-family: "楷体";
}

.header .layui-nav{position: absolute; right: 0; top: 0; padding: 0; background: none;}
.layui-side{position: fixed; top: 0; left: -260px; transition: all .3s; -webkit-transition: all .3s; z-index: 10000;}